<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8"/>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
<title>{{ keyword }}</title>
</head>
<style rel="stylesheet" type="text/css">@charset "UTF-8";a,body,div,h1,h2,html{border:0;font-family:inherit;font-size:100%;font-style:inherit;font-weight:inherit;margin:0;outline:0;padding:0;vertical-align:baseline;word-break:break-word}html{font-size:62.5%;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}*{-webkit-box-sizing:border-box;box-sizing:border-box}:after,:before{-webkit-box-sizing:border-box;box-sizing:border-box}body{background:#fff}article,header,main{display:block}a:active,a:focus,a:hover{outline:0}body{color:#333;font-family:Montserrat,sans-serif;font-size:14px;line-height:1.5;font-weight:400;text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}h1{font-size:36px}h2{font-size:30px}h1,h2{font-weight:700}hr{background-color:#ccc;border:0;height:1px;margin-bottom:15px}a{color:#000;text-decoration:none;transition:all .3s ease-in-out;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out}a:hover{color:#000}#primary{float:left;width:65.5%}.post{margin-bottom:40px;display:inline-block}.entry-meta{font-size:12px;margin-top:12px}.blog .entry-content-block{width:100%}.entry-content-block .entry-title{font-size:18px}.post{width:100%}.has-drop-cap:not(:focus):first-letter{float:left;font-size:8.4em;line-height:.68;font-weight:100;margin:.05em .1em 0 0;text-transform:uppercase;font-style:normal}.has-drop-cap:not(:focus):after{content:"";display:table;clear:both;padding-top:14px}</style>
<body class="">
<div id="page">
<div id="header" role="banner">
<div id="headerimg">
<h1><a href="#">{{ keyword }}</a></h1>
</div>
</div>
<hr/>
{{ text }}
<br>
<br>
{{ links }}
<hr/>
<div id="footer" role="contentinfo">
<p>
{{ keyword }} 2021</p>
</div>
</div>
</body>
</html>